
html {
  position: relative;
  min-height: 100%;
}

h1 {
  color: #cc5500 !important;
  font-size: 72px !important;
}

h2 {
  color: navy !important;
  font-size: 36px !important;
}

h6 {
  color: #cc5500 !important;
  font-size: 20px !important;
  text-align: center !important;
}

p {
  text-indent: 50px;
}

body {
  font-size: 24px !important;
  padding-bottom: 80px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
  color: white !important;
  background-color: navy !important;
}

#footer p {
  margin: 0;
  font-size: 16px;

}
