/* line 8, ../sass/style.scss */
.segmented-control {
  position: relative;
  display: inline-block;
  border: 1px solid currentColor;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  overflow: hidden;
  margin: .8em auto;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -moz-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-tap-highlight-color: transparent;
}
/* line 26, ../sass/style.scss */
.segmented-control > input {
  position: absolute;
  left: -10000px;
  opacity: 0;
}
/* line 31, ../sass/style.scss */
.segmented-control > input[type='checkbox'] ~ label {
  -moz-transition-duration: 0;
  -o-transition-duration: 0;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
/* line 34, ../sass/style.scss */
.segmented-control > input[type='checkbox'] ~ label:before {
  opacity: 0;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(1) ~ label:nth-of-type(1) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):after, .segmented-control > input:nth-child(1):checked ~ label:nth-of-type(1):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(1) ~ label:before {
  left: 0%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
  left: 0%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
  left: 0%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
  left: 0%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(5):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(5):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:before {
  left: 0%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(6):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(6):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:before {
  left: 0%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(1):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 0%;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(2) ~ label:nth-of-type(2) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):after, .segmented-control > input:nth-child(2):checked ~ label:nth-of-type(2):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(2) ~ label:before {
  left: 50%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
  left: 33.33333%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
  left: 25%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(5):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(5):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:before {
  left: 20%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(6):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(6):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:before {
  left: 16.66667%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(2):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 14.28571%;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(3) ~ label:nth-of-type(3) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):after, .segmented-control > input:nth-child(3):checked ~ label:nth-of-type(3):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(3) ~ label:before {
  left: 66.66667%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
  left: 50%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(5):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(5):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:before {
  left: 40%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(6):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(6):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:before {
  left: 33.33333%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(3):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 28.57143%;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(4) ~ label:nth-of-type(4) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(4):checked ~ label:nth-of-type(4):after, .segmented-control > input:nth-child(4):checked ~ label:nth-of-type(4):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4):after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4):before, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(4) ~ label:before {
  left: 75%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(5):after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(5):before, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:before {
  left: 60%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(6):after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(6):before, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:before {
  left: 50%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(4):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 42.85714%;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(5) ~ label:nth-of-type(5) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(5):checked ~ label:nth-of-type(5):after, .segmented-control > input:nth-child(5):checked ~ label:nth-of-type(5):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(5):after, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(5):before, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:after, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(5) ~ label:before {
  left: 80%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(6):after, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(6):before, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:before {
  left: 66.66667%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(5):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 57.14286%;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(6) ~ label:nth-of-type(6) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(6):checked ~ label:nth-of-type(6):after, .segmented-control > input:nth-child(6):checked ~ label:nth-of-type(6):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(6):after, .segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(6):before, .segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(6) ~ label:before {
  left: 83.33333%;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(6):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 71.42857%;
}
/* line 40, ../sass/style.scss */
.segmented-control > input:disabled:nth-child(7) ~ label:nth-of-type(7) {
  opacity: 0.3;
  cursor: not-allowed;
}
/* line 47, ../sass/style.scss */
.segmented-control > input:nth-child(7):checked ~ label:nth-of-type(7):after, .segmented-control > input:nth-child(7):checked ~ label:nth-of-type(7):before {
  opacity: 1;
}
/* line 54, ../sass/style.scss */
.segmented-control > input:nth-child(7):checked ~ label:first-of-type:nth-last-of-type(7):after, .segmented-control > input:nth-child(7):checked ~ label:first-of-type:nth-last-of-type(7):before, .segmented-control > input:nth-child(7):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > input:nth-child(7):checked ~ label:first-of-type:nth-last-of-type(7) ~ label:before {
  left: 85.71429%;
}
/* line 63, ../sass/style.scss */
.segmented-control > label {
  display: inline-block;
  padding: 0 .71em;
  cursor: pointer;
  float: left;
  line-height: 3em;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  -moz-transition-property: none;
  -o-transition-property: none;
  -webkit-transition-property: none;
  transition-property: none;
  -moz-transition-duration: inherit;
  -o-transition-duration: inherit;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -moz-transition-timing-function: inherit;
  -o-transition-timing-function: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
/* line 77, ../sass/style.scss */
.segmented-control > label:before, .segmented-control > label:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
/* line 86, ../sass/style.scss */
.segmented-control > label:after {
  color: white;
  content: attr(data-value);
  text-align: center;
  padding: inherit;
  z-index: 10;
  font-style: inherit;
  text-decoration: inherit;
  font-weight: inherit;
  opacity: 0;
  -moz-transition-property: opacity, left;
  -o-transition-property: opacity, left;
  -webkit-transition-property: opacity, left;
  transition-property: opacity, left;
  -moz-transition-duration: inherit;
  -o-transition-duration: inherit;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -moz-transition-timing-function: inherit;
  -o-transition-timing-function: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
/* line 102, ../sass/style.scss */
.segmented-control > label:after, .segmented-control > label {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 111, ../sass/style.scss */
.segmented-control > label:before {
  content: '';
  color: inherit;
  background: currentColor;
  -moz-transition-property: left;
  -o-transition-property: left;
  -webkit-transition-property: left;
  transition-property: left;
  -moz-transition-duration: inherit;
  -o-transition-duration: inherit;
  -webkit-transition-duration: inherit;
  transition-duration: inherit;
  -moz-transition-timing-function: inherit;
  -o-transition-timing-function: inherit;
  -webkit-transition-timing-function: inherit;
  transition-timing-function: inherit;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(1), .segmented-control > label:first-of-type:nth-last-of-type(1):after, .segmented-control > label:first-of-type:nth-last-of-type(1):before, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(1) ~ label:before {
  width: 100%;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(2), .segmented-control > label:first-of-type:nth-last-of-type(2):after, .segmented-control > label:first-of-type:nth-last-of-type(2):before, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(2) ~ label:before {
  width: 50%;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(3), .segmented-control > label:first-of-type:nth-last-of-type(3):after, .segmented-control > label:first-of-type:nth-last-of-type(3):before, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(3) ~ label:before {
  width: 33.33333%;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(4), .segmented-control > label:first-of-type:nth-last-of-type(4):after, .segmented-control > label:first-of-type:nth-last-of-type(4):before, .segmented-control > label:first-of-type:nth-last-of-type(4) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(4) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(4) ~ label:before {
  width: 25%;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(5), .segmented-control > label:first-of-type:nth-last-of-type(5):after, .segmented-control > label:first-of-type:nth-last-of-type(5):before, .segmented-control > label:first-of-type:nth-last-of-type(5) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(5) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(5) ~ label:before {
  width: 20%;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(6), .segmented-control > label:first-of-type:nth-last-of-type(6):after, .segmented-control > label:first-of-type:nth-last-of-type(6):before, .segmented-control > label:first-of-type:nth-last-of-type(6) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(6) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(6) ~ label:before {
  width: 16.66667%;
}
/* line 124, ../sass/style.scss */
.segmented-control > label:first-of-type:nth-last-of-type(7), .segmented-control > label:first-of-type:nth-last-of-type(7):after, .segmented-control > label:first-of-type:nth-last-of-type(7):before, .segmented-control > label:first-of-type:nth-last-of-type(7) ~ label, .segmented-control > label:first-of-type:nth-last-of-type(7) ~ label:after, .segmented-control > label:first-of-type:nth-last-of-type(7) ~ label:before {
  width: 14.28571%;
}
/* line 132, ../sass/style.scss */
.segmented-control.italic, .segmented-control .italic {
  font-style: italic;
}
/* line 133, ../sass/style.scss */
.segmented-control.bold, .segmented-control .bold {
  font-weight: bold;
}
/* line 134, ../sass/style.scss */
.segmented-control.underline, .segmented-control .underline {
  text-decoration: underline;
}
/* line 135, ../sass/style.scss */
.segmented-control.line-through, .segmented-control .line-through {
  text-decoration: line-through;
}

/* line 141, ../sass/style.scss */
html {
  font-size: 14px;
  font-family: 'Source Sans Pro', Helvetica, arial, sans-serif;
  font-weight: 400;
  letter-spacing: .04em;
  color: #C2C8CD;
  cursor: default;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}

/* line 152, ../sass/style.scss */
html, body {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* line 159, ../sass/style.scss */
div {
  display: -webkit-flex;
  display: flex;
}

/* line 163, ../sass/style.scss */
a {
  color: inherit;
  text-decoration: none;
}
/* line 167, ../sass/style.scss */
a:hover {
  text-decoration: underline;
}

/* line 173, ../sass/style.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */
/* line 181, ../sass/style.scss */
/* line 181, ../sass/style.scss */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #5FBAAC;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  /* line 202, ../sass/style.scss */
  /* line 198, ../sass/style.scss */
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}
/* General styles */
/* enable this to add smooth scrolling */
/* html {
    scroll-behavior: smooth;
} */
/* line 218, ../sass/style.scss */
/* line 211, ../sass/style.scss */
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/* line 227, ../sass/style.scss */
/* line 221, ../sass/style.scss */
section {
  padding: 5em 2em;
}

/* line 231, ../sass/style.scss */
/* line 226, ../sass/style.scss */
img {
  display: block;
  max-width: 100%;
}

/* line 236, ../sass/style.scss */
/* line 232, ../sass/style.scss */
strong {
  font-weight: var(--fw-bold);
}

/* line 238, ../sass/style.scss */
/* line 237, ../sass/style.scss */
:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

/* Buttons */
/* line 245, ../sass/style.scss */
/* line 244, ../sass/style.scss */
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

/* line 259, ../sass/style.scss */
/* line 259, ../sass/style.scss */
.btn:hover {
  transform: scale(1.1);
}

/* Typography */
/* line 265, ../sass/style.scss */
/* line 265, ../sass/style.scss */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

/* line 272, ../sass/style.scss */
/* line 273, ../sass/style.scss */
h1 {
  font-size: var(--fs-h1);
}

/* line 273, ../sass/style.scss */
/* line 278, ../sass/style.scss */
h2 {
  font-size: var(--fs-h2);
}

/* line 274, ../sass/style.scss */
/* line 283, ../sass/style.scss */
h3 {
  font-size: var(--fs-h3);
}

/* line 277, ../sass/style.scss */
/* line 288, ../sass/style.scss */
.section__title {
  margin-bottom: .25em;
}

/* line 281, ../sass/style.scss */
/* line 293, ../sass/style.scss */
.section__title--intro {
  font-weight: var(--fw-reg);
  margin-bottom: 1em;
}

/* line 285, ../sass/style.scss */
/* line 299, ../sass/style.scss */
.section__title--intro strong {
  display: block;
}

/* line 289, ../sass/style.scss */
/* line 304, ../sass/style.scss */
.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

/* line 294, ../sass/style.scss */
/* line 310, ../sass/style.scss */
.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
}

/* line 302, ../sass/style.scss */
/* line 317, ../sass/style.scss */
.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

/* header */
/* line 310, ../sass/style.scss */
/* line 325, ../sass/style.scss */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

/* line 316, ../sass/style.scss */
/* line 332, ../sass/style.scss */
.logo {
  max-width: 69px;
}

/* line 320, ../sass/style.scss */
/* line 337, ../sass/style.scss */
.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

/* line 334, ../sass/style.scss */
/* line 351, ../sass/style.scss */
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* line 345, ../sass/style.scss */
/* line 363, ../sass/style.scss */
.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

/* line 352, ../sass/style.scss */
/* line 371, ../sass/style.scss */
.nav__link:hover {
  color: var(--clr-accent);
}

/* line 356, ../sass/style.scss */
/* line 376, ../sass/style.scss */
.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

/* line 367, ../sass/style.scss */
/* line 388, ../sass/style.scss */
.nav-open .nav {
  transform: translateX(0);
}

/* line 371, ../sass/style.scss */
/* line 393, ../sass/style.scss */
.nav-open .nav-toggle {
  position: fixed;
}

/* line 375, ../sass/style.scss */
/* line 398, ../sass/style.scss */
.nav-open .hamburger {
  transform: rotate(0.625turn);
}

/* line 379, ../sass/style.scss */
/* line 403, ../sass/style.scss */
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

/* line 383, ../sass/style.scss */
/* line 408, ../sass/style.scss */
.nav-open .hamburger::after {
  opacity: 0;
}

/* line 392, ../sass/style.scss */
/* line 413, ../sass/style.scss */
.hamburger {
  display: block;
  position: relative;
}

/* line 397, ../sass/style.scss */
/* line 419, ../sass/style.scss */
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

/* line 408, ../sass/style.scss */
/* line 430, ../sass/style.scss */
.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

/* line 416, ../sass/style.scss */
/* line 439, ../sass/style.scss */
.hamburger::before {
  top: 6px;
}

/* line 417, ../sass/style.scss */
/* line 444, ../sass/style.scss */
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */
/* line 422, ../sass/style.scss */
/* line 450, ../sass/style.scss */
.intro {
  position: relative;
}

/* line 426, ../sass/style.scss */
/* line 455, ../sass/style.scss */
.intro__img {
  box-shadow: var(--bs);
}

/* line 430, ../sass/style.scss */
/* line 460, ../sass/style.scss */
.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  /* line 435, ../sass/style.scss */
  /* line 466, ../sass/style.scss */
  .intro {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: "img title" "img subtitle";
    grid-template-columns: min-content max-content;
  }

  /* line 446, ../sass/style.scss */
  /* line 476, ../sass/style.scss */
  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  /* line 453, ../sass/style.scss */
  /* line 484, ../sass/style.scss */
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}
/*  My services section  */
/* line 468, ../sass/style.scss */
/* line 496, ../sass/style.scss */
.my-services {
  background-color: var(--clr-dark);
  background-image: url(../img/Disorder.jpeg);
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
}

/* line 477, ../sass/style.scss */
/* line 506, ../sass/style.scss */
.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

/* line 482, ../sass/style.scss */
/* line 512, ../sass/style.scss */
.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

/* line 492, ../sass/style.scss */
/* line 523, ../sass/style.scss */
.services {
  display: block;
  margin-bottom: 4em;
  text-align: left;
}

/* line 496, ../sass/style.scss */
/* line 529, ../sass/style.scss */
.service {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
}

/* allow room for 3 columns */
ul
{
  width: 100em;
}  /* float & allow room for the widest item */
ul li
{
  float: left;
  width: 20em;
}  /* stop the float */
br
{
  clear: left;
}  /* separate the list from subsequent markup */
div.wrapper
{
  margin-bottom: 1em;
}

@media (min-width: 800px) {
  /* line 502, ../sass/style.scss */
  /* line 537, ../sass/style.scss */
  .services {
    /* display: flex; */
    max-width: 1000px;
    margin-left: 0px;
    margin-right: 500px;
  }

  /* line 509, ../sass/style.scss */
  /* line 545, ../sass/style.scss */
  .service + .service {
    /* margin-left: 2em; */
  }
}
/* line 515, ../sass/style.scss */
/* line 550, ../sass/style.scss */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

/* line 520, ../sass/style.scss */
/* line 556, ../sass/style.scss */
.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  /* line 525, ../sass/style.scss */
  /* line 562, ../sass/style.scss */
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }

  /* line 535, ../sass/style.scss */
  /* line 570, ../sass/style.scss */
  .section__title--about {
    grid-area: title;
  }

  /* line 539, ../sass/style.scss */
  /* line 575, ../sass/style.scss */
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  /* line 549, ../sass/style.scss */
  /* line 586, ../sass/style.scss */
  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}
/* My Work */
/* line 558, ../sass/style.scss */
/* line 594, ../sass/style.scss */
.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

/* line 564, ../sass/style.scss */
/* line 601, ../sass/style.scss */
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
  grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
  padding-left: 2em;
}

/* line 570, ../sass/style.scss */
/* line 608, ../sass/style.scss */
.portfolio__item {
  background: var(--clr-accent);
  overflow: hidden;
  /* visibility: visible; */
  display: none;
}

/* line 615, ../sass/style.scss */
.show {
  display: grid;
}

/* line 576, ../sass/style.scss */
/* line 620, ../sass/style.scss */
.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

/* line 582, ../sass/style.scss */
/* line 625, ../sass/style.scss */
.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

/* line 587, ../sass/style.scss */
/* line 631, ../sass/style.scss */
.portfolio__img:hover,
.portfolio__item:hover .portfolio__img {
  transform: scale(1.2);
  opacity: .2;
}

/* line 593, ../sass/style.scss */
/* line 638, ../sass/style.scss */
.img__wrap {
  display: grid;
  position: relative;
}

/* line 597, ../sass/style.scss */
/* line 643, ../sass/style.scss */
.img__description {
  position: absolute;
  top: 25px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

/* line 612, ../sass/style.scss */
/* line 658, ../sass/style.scss */
.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
  z-index: 3;
}

/* footer */
/* line 620, ../sass/style.scss */
/* line 666, ../sass/style.scss */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

/* line 629, ../sass/style.scss */
/* line 675, ../sass/style.scss */
.footer a {
  color: inherit;
  text-decoration: none;
}

/* line 634, ../sass/style.scss */
/* line 681, ../sass/style.scss */
.footer__link {
  font-weight: var(--fw-bold);
}

/* line 638, ../sass/style.scss */
/* line 686, ../sass/style.scss */
.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

/* line 643, ../sass/style.scss */
/* line 692, ../sass/style.scss */
.footer__link:hover {
  text-decoration: underline;
}

/* line 647, ../sass/style.scss */
/* line 697, ../sass/style.scss */
.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

/* line 655, ../sass/style.scss */
/* line 706, ../sass/style.scss */
.social-list__item {
  margin: 0 .5em;
}

/* line 659, ../sass/style.scss */
/* line 711, ../sass/style.scss */
.social-list__link {
  padding: .5em;
}

/* Individual portfolio item styles */
/* line 666, ../sass/style.scss */
/* line 717, ../sass/style.scss */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

/* line 672, ../sass/style.scss */
/* line 724, ../sass/style.scss */
.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
