.card {
  background-color: #ffffff;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;  
}

.navbar {
         padding-left: 50px;
         color: #ffffff;
}

.navbar-header{ 
        color: #ffffff;
}

.navbar-brand {
               background-color: rgb(17, 177, 177);
               font-family: times new roman;
               font-weight: bold;
               color: #ffffff;
}

body {
    background-color: lightgray;
}

h1 {
     color: rgb(17, 177, 177);
     background-color: #ffffff;
     font-family: times new roman;
     font-weight: bold;
}

h3 {
     color: rgb(17, 177, 177);
     background-color: #ffffff;
     font-family: times new roman;
     font-weight: bold;
     text-align: center;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   font-family: sans-serif;
   font-size: 12;
}

@media (max-width: 480px) {
    .navbar {
        background-color: rgb(17, 177, 177);
        color: #ffffff;
}

    .navbar-header{ 
        color: #ffffff;
}

    .navbar-brand {
                 background-color: #ffffff;
                 font-family: times new roman;
                 font-weight: bold;
                 color: rgb(17, 177, 177);
                 color: #ffffff;
}