body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: #fff;
    /* margin: 50px; */
    z-index: -7;
  }

  img{
    max-width:1000px;
    z-index: 3;
    align-content: center !important;
  }

  .row{
    height: 50%;
    width: 100%;
  }

  .container-fluid{
    height: 100px;
    width: 100%;
  }

  #sequence {
    width: 100%;
    height: 25%;
  }
  
  #sequence text{
    font-weight: 600;
    fill: #fff;
  }

  #setBackBtn{
    margin-left: 5%;
    margin-bottom: 1%;
    z-index: 10;
  }
  
  #setStartBtn{
    float: right;
    margin-right:  5%;
    margin-bottom: 1%;
    z-index: 10;
  }

  #explanation {
    color: #666;
    height: 5%;
    width: 100%;
    margin-top: 1%;
    text-align: center;
  }
  
  
  #main {
    height: 50%;
    width: 50%;
    position: absolute;
  }
  
  #sidebar {
    height: 50%;
    width: 41%;
    position: absolute;
    margin-left: 55%;
    margin-top: 3%;
    z-index: 3;
  }
  
  #sideboard {
    width: 100%;
  }
  
  #chart {
    width: 100%;
    z-index: -5;
  }
  
  #chart path {
    stroke: #fff;
    z-index: -4;
  }
  
  #legend {
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 40%;
    margin-left: 46%;
    text-align: center;
    stroke: #fff;
    z-index: -6;
  }

  
  #percentage {
    font-size: 2.5em;
  }

  #variation {
    color: #000;
    height: 0%;
    width: 95%;
    margin-top: 43%;
    text-align: right;
    z-index: 3;
    position:absolute;
  }

  #eco {
    color: #666;
    font-size: 2.5em;
    height: 0%;
    width: 100%;
    margin-top: 42%;
    text-align: center;
    z-index: 3;
    position:absolute;
  }